@page "/"
@using DependencyInjection.Demo

@*//Instead of creating an instance, we need this*@
@inject ILogic logic
@inject ILogger<Index> logger

<PageTitle>Index</PageTitle>

<h1>Random</h1>

<h1>@logic.Value1</h1>
<h1>@logic.Value2</h1>

@code{
    //private Logic logic;

    protected override void OnInitialized()
    {
        //logic = new();
        logger.LogInformation("Display values of {value1} and {value2}", logic.Value1, logic.Value2);
    }


}


